* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

img {
  width: 270px;
  margin-bottom: 30px;
}

#zgornja {
  float: right;
  width: 290px;
  height: 50px;
}

#left {
  float: left;
  width: 25%;
  background-color: yellow;
}

#main {
  float: left;
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 175px;
}

#right {
  float: right;
  width: 25%;
  background-color: yellow;
}

#footer {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  bottom: 0px;
}

#spodnja {
  padding-left: 10px;
}

#isci {
  width: 436px;
  height: 34px;
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  width: 126px;
  height: 36px;
  font-size: 14px;
  border-radius: 15px;
}

#iskanje {
  margin-right: 20px;
}

#iskanje:hover {
  border: red 1px solid;;
}

#klik {
  margin-left: 10px;
}

#klik:hover {
  border: red 1px solid;
}

td {
  text-align: center;
  width: 90px !important;
  height: 40px;
}
